@media (max-width: 1090px) {
    .footer {
        &__info {
            top: 360px;
            width: 100%;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .consultation{
        &__descr {
            text-align: center;
        }
    }
    .title {
        &_left {
            font-size: 34px;
            text-align: center;
        }
    }
    .feed {
        &-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .reviews {
        &__item {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__descr {
            margin-top: 30px;
            margin-left: 0;
            text-align: center;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        min-height: 535px;
        padding: 21px 15px 21px 15px;
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .title {
        &_left {
            font-size: 25px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            img {
                width: 85%;
            }
        }
        &__phone {
            font-size: 11px;
        }
    }
    .button {
        width: 105px;
        height: 17px;
        font-size: 10px;
        &_main {
            width: 250px;
            height: 35px;
            margin-top: 20px;
            font-size: 15px;
        }
        &_submit {
            width: 240px;
            height: 35px;
            margin: 0 auto;
            margin-top: 10px;
            font-size: 15px;
        }
        &_mini {
            width: 120px;
            height: 25px;
            font-size: 14px;
        }
    }
    .promo {
        min-height: 495px;
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 24px;
            line-height: 24px;
        }
        &__subheader {
            text-align: center;
            font-size: 18px;
        }
        &__icons {
            margin-top: 30px;
            width: 310px;
        }
        &__icon {
            width: 125px;
            font-size: 10px;
            &:nth-child(3) {
                margin-top: 20px;
            }
            img {
                width: 33px;
                height: 33px;
            }
        }
        &__link {
            font-size: 13px;
        }
    }
    .title {
        font-size: 20px;
    }
    .advantages {
        padding: 21px 15px;
        &__item {
            img {
                width: 20%;
                margin-top: 30px;
            }
        }
        &__subheader {
            font-size: 15px;
            margin-top: 20px;
        }
        &__descr {
            font-size: 10px;
        }
    }
    .consultation {
        padding: 21px 15px;
        min-height: 470px;
        &__descr {
            font-size: 13px;
            margin-top: 50px;
        }
    }
    .feed-form {
        width: 260px;
        input {
            width: 260px;
            height: 35px;
            font-size: 12px;
        }
        &_mt25 {
            width: 240px;
            input {
                width: 240px;
            }
        }
    }
    .modal {
        width: 320px;
        min-height: 360px;
        &__close {
            top: 10px;
            right: 10px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .slick-dots {
        padding: 0;
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 40px;
        li {
            button {
                width: 10px;
                height: 12px;
                margin: 0 10px;
                border: none;
                border-radius: 100%;
                font-size: 0px;
                background-color: $main-color;
            }
        }
    }
    .carousel {
        padding: 50px 15px;
    }
    .catalog {
        &-item {
            min-height: 380px;
            &__img {
                height: 130px;
            }
            &__subtitle {
                    font-size: 13px;
            }
            &__descr {
                font-size: 11px;
            }
            &__link {
                font-size: 11px;
            }
            &__list {
                li {
                    font-size: 11px;
                }
            }
            &__old-price {
                font-size: 10px;
            }
            &__price {
                font-size: 15px;
            }
        }
        &__tab {
            width: 200px;
            height: 35px;
            font-size: 15px;
            line-height: 35px;
        }
    }
    .reviews {
        img {
            width: 100px;
            height: 100px;
        }
        &__name {
            font-size: 15px;
        }
        &__info {
            font-size: 10px;
        }
        &__text {
            font-size: 11px;
        }
    }
    .footer {
        &__info {
            padding: 50px 0 68px 0;
        }
        &__addr {
            font-size: 17px;
        }
        &__phone {
            font-size: 17px;
        }
    }
}
